body {
	font-family: 'Quicksand', sans-serif;
	background: #000000;
	color: white;
}

.container {
	display: flex;
	flex-direction: row;
}

h1 {
	border-bottom: 7px solid white;
}

#quiz {
	margin-right: 10px;
	background: #292E2C;
	padding: 10px 20px 10px 20px;
	width: 50%;
	border-radius: 15px;
}

input {
	margin-bottom: 10px;
}

#button {
	color: white;
	background: #1D4889;
	font-size: 20px;
	margin-top: 20px;
	padding: 10px;
	border-radius: 10px;
	font-family: 'Quicksand', sans-serif;
	height: 80px;
	width: 150px;
}

#button:hover {
	background: white;
	color: black;
	cursor: pointer;
}

#after_submit {
	visibility: hidden;
	font-size: 30px;
	background: #1941AF;
	padding: 10px;
	border-radius: 10px;
	display: block;
	vertical-align: bottom;
	margin: 10px auto;
	width: 95%;

}

#gif {
	width: 100%;
	height: 100%;
}

.photos {
	flex-direction: column;
	width: 45%;
}

img {
	border-radius: 10px;
	width: 100%;
}

#Group {
	margin: 0 auto;
}

#Michael {
	margin: 10px auto;
}

#Dwight {
	margin: 0 auto;
}

#Andy {
	margin: 10px auto;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
  -webkit-opacity: 1;
  background: white;

}